name: Issue oopen test

on:
  issues:
    types:
      - opened
  workflow_dispatch:

jobs:
  event-test:
    name: print git events
    runs-on: ubuntu-latest

    steps:
      - name: dump github context
        run: echo '${{ toJSON(github.event) }}'
        
