name: Pylint

on: [push]

jobs:
  uv-example:
    name: set up uv and python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Ruff linting check
        run: uv run ruff check src

      - name: Print various stuff
        run: |
          pwd
          echo showing ls
          ls -lha
          echo showing ls root
          ls -lha /


  # lint:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       python-version: ["3.8", "3.9", "3.10"]
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Set up Python ${{ matrix.python-version }}
  #     uses: actions/setup-python@v3
  #     with:
  #       python-version: ${{ matrix.python-version }}
  #   - name: Install dependencies
  #     run: |
  #       python -m pip install --upgrade pip
  #       pip install pylint
  #   - name: Analysing the code with pylint
  #     run: |
  #       pylint $(git ls-files '*.py')
